
      a:link{color: #006699;font-weight:bold;text-decoration:none;font-size:18px;font-family : "新細明體"; }
			a:visited{color:#006699;font-weight:bold;text-decoration:none;font-size:18px;font-family : "新細明體";}
			a:active{color: #006699;font-weight:bold;text-decoration:none;font-size:18px;font-family : "新細明體";}
			a:hover{color: #FF6666;font-weight:bold;text-decoration:none;font-size:18px;font-family : "新細明體";}
						
			.companyname{color: #006699;font-weight:bold;text-decoration:none;font-size:30px;font-family : "新細明體";}/*公司名稱*/
		
			.title1{color: #333399;font-weight:bold;text-decoration:none;font-size:20px;font-family : "新細明體 ";}/*大標題*/
			.title2{color:#3399CC;font-weight:bold;text-decoration:none;font-size:18px;font-family : "新細明體";}/*小標題*/
			.title3{color:#9999FF;font-weight:bold;text-decoration:none;font-size:16px;font-family : "新細明體";}/*反色小標題*/
		
			.text1{color: #9999FF;line-height:130%;text-decoration:none;font-size:15px;font-family : "新細明體";}/*內文 1*/
			.text2{color: #FFFFCC;line-height:130%;text-decoration:none;font-size:15px;font-family : "新細明體";}/*內文 2*/	

			.table1{color:#FFFFFF;border: 1px  #000000;}/*solid 實線框 double雙線框*/

			.copyright{color:#006699;text-decoration:none;font-size:16px;font-family : "新細明體";}/*公司名稱*/
		
			input,select,textarea{color: #050505;font-size:9pt;background-color:#EDEDED;border-top: 1px double #CBCBCB;border-bottom: 1px double #CBCBCB;border-left: 1px double #CBCBCB;border-right: 1px double #CBCBCB;}
		
			.bg_no_repeat{background-repeat:no-repeat; }/*表格背景固定*/

	.tableSetting {
		BORDER-COLOR: #99CC66;
		}
	.tableTitle {
		BORDER-RIGHT: #99CC66 1px solid; BORDER-TOP: #99CC66 1px solid; BORDER-LEFT: #99CC66 1px solid; BORDER-BOTTOM: #99CC66 1px solid;
		BACKGROUND-COLOR: #CCFF99;
		}
	.tableContent {
		BORDER-RIGHT: #99CC66 1px solid; BORDER-TOP: #99CC66 1px solid; BORDER-LEFT: #99CC66 1px solid; BORDER-BOTTOM: #99CC66 1px solid;
		BACKGROUND-COLOR: #FFFFCC;
		}	

	.TDMBLANK {
				BORDER-RIGHT: #009966 1px solid;
		}

	.TDMMENU {
				BORDER-BOTTOM: #009966 1px solid; BORDER-RIGHT: #009966 1px solid; FONT-SIZE: 9pt; COLOR: #FFFFFF; BACKGROUND-COLOR: #CCCCCC; font-family:serif;
		}
		
	.TDMMENU {
		star : expression(onmouseover=function() 
		{this.style.backgroundColor="#CCFF99"}, 
		onmouseout=function(){this.style.backgroundColor="#CCCCCC"})
	}
			
	.BTN {
		border:2px outset #CCCCCC; FONT-SIZE: 9pt; COLOR: #006699; BACKGROUND-COLOR: #CCCCCC; font-family:serif;
	}
	
	.BTN {
		star : expression(onmouseover=function() 
		{this.style.backgroundColor="#CCFF99"; this.style.borderColor="#CCFF99"; this.style.color="#FF6666";}, 
		onmouseout=function(){this.style.backgroundColor="#CCCCCC"; this.style.borderColor="#CCCCCC"; this.style.color="#006699";})
	}		
